body{
    font-family: Arial, Helvetica, sans-serif;
    padding:0;
    margin:0; 
    background: url("../images/green.jpg");
}
.container{
    width:100%;
}
/* nav bar stuff  */
header{
      margin: 0;
}
.image{
    margin:15px;
    height:30px;


    padding-right: 10px;
}
nav {
    display: none;
}
nav ul{
    padding: 20px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    list-style: none;
}
nav ul li{
    border-bottom:1px solid darkslategray;
    padding:5px;
}

ul{

    -webkit-padding-start: 0px;
}
nav ul li a{
    width:100%;
    color: darkslategray;
    text-decoration: none;
}
/* end of nav top */
.searchItem{
    /* border-bottom: 1px solid darkslategray; */
    /* border: none; */
}
.searchItem input{
    width: 75%;

}
.searchItem button{
    color: darkslategray;
    font-size: 17px;
    cursor: pointer;

}
/* end of search */
.bars{
    float:left;
}
.bar1, .bar2, .bar3 {
     width: 24px;
     height: 4px;
     background-color: darkslategray;
     margin: 6px 0;
     /* transition: 0.1s; */
}
.menuLabel{
    color:white;
    float:left;
    position: relative;
    top: 8px;
    left: -10px;
}
.animateBurger .bar2 {
    opacity: 0;
}
/* Rotate first bar */
.animateBurger .bar1 {
    transform: rotate(-45deg) translate(-6px, 8px) ;
}

.animateBurger .bar2 {
    opacity: 0; 
}

.animateBurger .bar3 {
    transform: rotate(45deg) translate(-6px, -8px) ;
}

.burgerMenu {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    float: right;
    padding: 10px;
    padding-right: 20px;
}
/* end of mobile */
footer{
    width: 100%;
}

footer ul {
	list-style: none;
	display: flex;
	flex-direction: row;
    justify-content: center;
}
footer ul li{
	padding: 10px;
}
footer ul li a{
	font-size: 12px;
	text-decoration: none;
	color: darkslategray;
}
.hiddenStuff {
    display: none;
}
/* end footer */

.content {
    padding: 20px;
    padding-top: 60px;

}
.content h2{
    text-align: center;
    color: darkslategray;
}
input[type="radio"] {
	display: none;

}
 input[type="radio"]:checked + label {
	background-color: darkgrey;
	color: white;
}
label {
	padding: 5px;
	border: solid white 2px;
    border-radius: 4px;
    font-size: 30px;
    width: 150px;
}
.submit {
    text-align: center;
    padding-top: 30px;
}
.submitbutton{
    padding: 10px;
    border: 1px solid darkslategray;
    background-color: darkslategray;
    color: white;
    border-radius: 4px;
    font-size: 21px;
}
.choice {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* background-color: aqua; */
    margin-bottom: 20px;

}
.player1{
    width: 100%;
    
    margin: auto auto 0 0;
    text-align: right;
    padding-right: 20px;
    
}
.player2{
    width: 100%;
    
    padding-left: 20px;
    margin: auto auto 0 0;
    text-align: left;
}
.v{
    margin: auto;
    justify-content: center;    
}
.main {
    padding-top: 50px;
    padding-bottom: 100px;
}
.matchInfo {
    text-align: center;
    color: white;
    font-size: 25px;
    background-color: gray;
}
.match{
    border: 1px solid gray;
    margin: 5px;
    border-radius: 10px;
    background-color: gray;
}



