/* CSS Document */
header {
    background-color: green;
}

body{
 background-color: #014204;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-size: 12px;
}

.burgerMenu, .mobH1{
	display:none;
}
header nav ul li h1{
	display:block;
	padding:0;
	margin:5px;
	font-size:1.2rem;
	color: #DDEAF2;
}
.banner{
	background-color: #046d12;
	background-repeat: no-repeat;
	height:100px;
}
.banner h2{
    text-align: center;
	top:20px;
	left:120px;
	font-size: 2em;
}

nav{
	display: block;
	
}
nav ul{
	list-style: none;
	display: flex; 
	flex-direction: row;
	justify-content: space-between;
}
nav ul li{
	border: none;
	padding: 5px;
	width: 160px;
}
nav ul li a{
	border-left: 1px solid #DDEAF2;
	color: #DDEAF2;
	padding: 5px 10px;
	transition: 0.4s;
}
nav ul li a:hover{
	color:#F294D1;
	/* font-size: 4em; */
}
.grid{
	padding: 5px;
	width: 25%;
}
.content{
	display: flex;
	box-sizing: border-box;
} 
.main {
    width : 100%;
    text-align: center;
} 

/* checks if its on an ipad */
@media (min-width: 601px) and (max-width: 1122px) { 
	nav ul {
		justify-content: space-between;
	}
	nav ul li{
		width:auto;
	}
	nav ul li a{
		width:auto;
  	}
  	nav ul li:last-child {
		width: auto;
  	}
  	nav ul li form input[type=search]{
		width: 120px;
	}
}
.choices{
    text-align: center;
}

.login{
	text-align: center;
}

span.forgot{
	font-size: 13px;
}

.loginbox{
	width: 600px;
	height: 420px;
	background-image: url('images/tenniscourt.jpg');
	color: black;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	text-align: center;
	border-radius: 100px;
	border: 20px solid white;
}

.loginbox p{
	font-weight: bold;
	font-size: 18px;
}

.button{
	display: block;
	margin: 0 auto;
	height: 42px;
	width: 42px;
	background-color: yellowgreen;
	color: white;
	font-weight: bold;
	border-radius: 20px;
	text-decoration: none;
	line-height: 42px;
}

.button:hover{
	background-color: white;
	color: green;
}

